/src
/vite.config.ts
/yarn.lock
/yarn-error.log
/ucpem.js
/tsconfig.tsbuildinfo
/tsconfig.json
/index.html
/.gitignore
/.npmignore
/.eslintrc.js
/.env
/.env.local
/views/*
/ucpem_ports/**/*
/src/**/*
/node_modules/**/*
/.vscode
/dist/index.html
